@font-face {
  font-family: dbold;
  src: url("../../assets/font/DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: dmedium;
  src: url("../../assets/font/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: dregular;
  src: url("../../assets/font/DMSans-Regular.ttf") format("truetype");
}
