@use "../../styles/partials/index" as *;

.header {
  height: 8.375rem;
  display: flex;
  flex-direction: row;
  background-color: $grey;
  align-items: center;
  justify-content: space-between;

  &__logo {
    margin: 2.5625rem 0 0.25rem 7.375rem;

    &--logo {
      width: 5.125rem;
      height: 5.125rem;
    }
  }

  &__subject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77.5rem;
    margin: 2rem 0 0 5rem;

    &--creator {
      text-transform: uppercase;
      color: $white;
      font-family: dbold;
      font-size: 1.625rem;
      margin: 0;
    }

    &--input {
      width: 24rem;
      height: 2.5rem;
      border-radius: 0.9375rem;
      border: solid 0.25rem $grey;
      background-color: $white;
      font-size: 1rem;
      color: $darkblue;
      padding: 0 0 0 2rem;
      background-image: url(../../assets/icons/search.svg);
      background-repeat: no-repeat;
      background-position-x: 0.5rem;
      background-position-y: center;
      font-family: dmedium;
      margin: 0;

      &::placeholder {
        color: $grey;
      }
    }

    &--link {
      margin: 0 8.25rem 0 0;

      &--dashboard {
        text-transform: uppercase;
        border: none;
        background-color: $grey;
        font-family: dmedium;
        color: $white;
        margin: 0 1rem;
        border-bottom: solid 0.25rem $grey;

        &:hover {
          border-bottom: solid 0.25rem $darkblue;
          cursor: pointer;
        }
      }
    }
  }
}
