@use "../../styles/partials/index" as *;

.footer {
  display: flex;
  flex-direction: row;
  height: 12.5rem;
  width: 100%;
  background-color: $grey;
  @include nomargin_nopadding;

  &__logo {
    width: 2.5625rem;
    height: 2.5625rem;
    @include nomargin_nopadding;
    margin: 1rem 0 0 8.6875rem;
  }

  &__credentials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 1.5rem;

    &--game {
      display: flex;
      flex-direction: row;
      margin: 1rem 0 0 0;

      &--item {
        background: none;
        border: none;
        text-transform: capitalize;
        font-family: dmedium;
        font-size: 0.9rem;
        padding: 0;
        margin: 0 5rem 0 0;
        color: $white;
        cursor: pointer;
      }
    }

    &--accessibility {
      display: flex;
      flex-direction: row;

      &--item {
        background: none;
        border: none;
        text-transform: capitalize;
        font-family: dmedium;
        font-size: 0.9rem;
        padding: 0;
        margin: 1rem 5.5rem 0 0;
        color: $white;
        cursor: pointer;
      }
    }

    &--legal {
      display: flex;
      flex-direction: row;

      &--item {
        background: none;
        border: none;
        text-transform: capitalize;
        font-family: dregular;
        font-size: 0.6rem;
        padding: 0;
        margin: 2rem 5rem 0 0;
        color: $white;
        cursor: pointer;
      }
    }

    &--service {
      display: flex;
      flex-direction: row;

      &--item {
        background: none;
        border: none;
        text-transform: capitalize;
        font-family: dregular;
        font-size: 0.6rem;
        padding: 0;
        margin: 0 5.2rem 0 0;
        color: $white;
        cursor: pointer;
      }
    }

    &--copyright {
      margin: 0;

      &--legals {
        font-family: dregular;
        font-size: 0.6rem;
        text-transform: capitalize;
        margin: 0 0 0.5rem 0;
        color: $white;
      }
    }
  }

  &__language {
    margin: 1rem 2rem 0 5rem;

    &--box {
      width: 11.9375rem;
      height: 3.75rem;
      border-radius: 3px;
      border: solid 2px #bababa;

      &--text {
        font-size: 0.9375rem;
        color: $white;
        font-family: dregular;
        margin: 0.5rem 0 0 1rem;
      }

      &--info {
        display: flex;
        flex-direction: row;
        align-items: center;

        &--image {
          margin: 0.5rem 0 0 1rem;
          width: 1.125rem;
          height: 0.6687rem;
        }

        &--canada {
          font-size: 0.9375rem;
          margin: 0.5rem 0 0 1rem;
          color: $white;
        }

        &--arrow {
          margin: 0.5rem 0 0 1rem;
        }
      }
    }
  }
}
