@use "../../styles/partials/index" as *;

.dashboards {
  margin: 1rem 0 2.4375rem 7.375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__texts {
    color: $white;
    font-family: dbold;
    font-size: 2.5rem;
    @include nomargin-nopadding;
    margin-top: 1.875rem;
  }

  &__alerts {
    width: 34.1875rem;
    height: 2.6875rem;
    border-radius: 0.9375rem;
    background-color: rgba(212, 152, 185, 0.53);
    margin: 1.8125rem 8.3125rem 0 3.1875rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &--icons {
      margin: 0;
      width: 1.5625rem;
      height: 1.5625rem;
    }

    &--texts {
      margin: 0 0 0 1.4375rem;
      color: $white;
      font-family: dbold;
    }

    &--opens {
      margin: 0 0 0 4.75rem;
      text-transform: uppercase;
      color: $white;
      background: none;
      border: none;
      font-family: dbold;

      &:hover {
        border-bottom: solid 1px $white;
        cursor: pointer;
      }
    }

    &--closes {
      position: relative;
      top: -1.875rem;
      right: -2rem;
      cursor: pointer;
    }
  }

  &__news {
    border-radius: 0.9375rem;
    background-color: $grey;
    border: none;
    width: 8.4375rem;
    height: 3.6875rem;
    font-size: 1.875rem;
    font-family: dbold;
    color: $white;
    margin: 1rem 8.25rem 0 0;
    cursor: pointer;
  }
}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8.25rem 0 7.375rem;
  height: 100%;

  &__headers {
    display: flex;
    flex-direction: column;
    width: 14.8125rem;
    margin: 0 0 0 0;

    &--tops {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &--images {
        width: 6.9375rem;
        height: 6.9375rem;
      }

      &--texts {
        font-family: dbold;
        @include nomargin-nopadding;
        text-transform: uppercase;
        color: $othergrey;
      }
    }

    &--managements {
      margin: 1.3125rem 0 0 0;

      &--texts {
        font-family: dbold;
        font-size: 1.625rem;
        color: $white;
        @include nomargin-nopadding;
      }

      &--panels {
        height: 26.375rem;
        border-radius: 0.9375rem;
        background-color: $grey;
        margin: 0.4375rem 0 4.1875rem 0;
        padding: 0.9375rem 0 0 0;

        &--links {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          height: 2.5rem;
          margin: 4px 0 0 0;
          border-left: solid 3px $grey;
          text-decoration: none;

          &:hover {
            background-color: rgba(207, 46, 139, 0.5);
            cursor: pointer;
            border-left: solid 3px $pink;
          }

          &--images {
            margin: 0 0.5rem 0 1rem;
            width: 1.375rem;
            height: 1rem;
          }

          &--texts {
            color: $white;
            border: none;
            background: none;
            text-transform: uppercase;
            cursor: pointer;
          }
        }

        &--linkstext {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          height: 2.5rem;
          margin: 4px 0 0 0;
          border-left: solid 3px $pink;
          background-color: rgba(207, 46, 139, 0.5);
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }

  &__advertising {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 4.25rem;

    &--box {
      background-color: $grey;
      width: 53.9375rem;
      height: 4.3125rem;
      border-radius: 0.9375rem;
      display: flex;
      align-items: center;
      margin: 0 0 1.5625rem 0;

      &--text {
        font-family: dbold;
        font-size: 1.5625rem;
        color: $white;
        @include nomargin-nopadding;
        margin: 0 15.3125rem 0 1.5rem;
      }

      &--texted {
        font-family: dbold;
        font-size: 1.5625rem;
        color: $white;
        @include nomargin-nopadding;
        margin: 0 7.2rem 0 1.5rem;
      }

      &--button {
        width: 5.8125rem;
        height: 2rem;
        border-radius: 0.9375rem;
        background-color: $darkgrey;
        border: solid 3px $darkgrey;
        font-size: 0.9375rem;
        font-family: dbold;
        color: $white;
        margin: 0 2.1875rem 0 0;
        cursor: pointer;

        &:hover {
          border: solid 3px $pink;
        }
      }

      &--up {
        background-image: url(../../assets/icons/up.svg);
        cursor: pointer;
        height: 1.4375rem;
        width: 1.4375rem;
        border: none;
        background-color: $grey;
        background-repeat: no-repeat;
      }

      &--alert {
        width: 1.8125rem;
        height: 1.8125rem;
        position: relative;
        left: 1.875rem;
        margin-right: -3.125rem;
      }
    }

    &--boxed {
      background-color: $grey;
      width: 53.9375rem;
      height: 4.3125rem;
      border-radius: 0.9375rem;
      display: flex;
      align-items: center;
      margin: 0 0 1.5625rem 0;
      border-left: solid 4px $pink;

      &--texting {
        font-family: dbold;
        font-size: 1.5625rem;
        color: $white;
        @include nomargin-nopadding;
        margin: 0 10.4rem 0 1.5rem;
      }

      &--button {
        width: 5.8125rem;
        height: 2rem;
        border-radius: 0.9375rem;
        background-color: $darkgrey;
        border: solid 0.1875rem $darkgrey;
        font-size: 0.9375rem;
        font-family: dbold;
        color: $white;
        margin: 0 2.1875rem 0 0;
        cursor: pointer;

        &:hover {
          border: solid 3px $pink;
        }
      }

      &--buttoned {
        width: 5.8125rem;
        height: 2rem;
        border-radius: 0.9375rem;
        background-color: rgba(212, 152, 185, 0.53);
        border: solid 0.1875rem rgba(212, 152, 185, 0.53);
        font-size: 0.9375rem;
        font-family: dbold;
        color: $white;
        margin: 0 2.1875rem 0 0;
        cursor: pointer;

        &:hover {
          border: solid 3px $pink;
        }
      }

      &--alert {
        width: 1.8125rem;
        height: 1.8125rem;
        position: relative;
        left: 1.875rem;
        margin-right: -3.125rem;
      }
    }

    &--back {
      width: 48.5rem;
      height: 19.6875rem;
      background-color: $grey;
      border-radius: 0.9375rem;
      margin: 0 0 1.25rem 0;

      &--first {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 0 2.0625rem;
        padding: 1.1875rem 0 0 0;

        &--you {
          margin: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          &--text {
            font-family: dbold;
            color: $white;
            font-size: 1.5625rem;
            @include nomargin-nopadding;
            // margin-left: 1rem;
          }

          &--image {
            width: 1.8125rem;
            height: 1.8125rem;
            margin: 0 0 0 0.5rem;
          }
        }

        &--text {
          color: $white;
          font-family: dregular;
          font-size: 0.9375rem;
          @include nomargin-nopadding;

          &--bold {
            font-family: dbold;
            font-size: 0.9375rem;
          }
        }

        &--image {
          width: 0.875rem;
          height: 0.875rem;
          margin: 0 1.75rem 0 0;
          cursor: pointer;
        }
      }

      &--second {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 0 2.0625rem;

        &--renew {
          display: flex;
          flex-direction: column;
          height: 15rem;
          justify-content: center;

          &--button {
            background-color: $othergrey;
            border-radius: 0.9375rem;
            border: none;
            height: 3.0625rem;
            width: 8.375rem;
            font-family: dbold;
            font-size: 1.2063rem;
            color: $white;
            margin: 0 0 0.5rem 0;
            cursor: pointer;
          }
        }

        &--box {
          height: 15.125rem;
          width: 32.8125rem;
          background-color: rgba(217, 217, 217, 0.1);
          margin: 0 3rem 0 0;
          border-radius: 0.9375rem;

          &--chart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--graph {
              height: 8.5rem;
              width: 28.5rem;
              margin: 1.1875rem 0 0 0;
            }

            &--impressions {
              display: flex;
              flex-direction: row;
              gap: 0.5rem;
              margin: 1.1625rem 0 0 0;

              &--button {
                background-color: $darkblue;
                color: $white;
                border-radius: 0.9375rem;
                border: solid 3px $darkblue;
                font-family: dbold;
                font-size: 0.875rem;
                width: 6.5rem;
                height: 2.75rem;
                text-transform: capitalize;

                &:hover {
                  border: solid 3px $pink;
                  cursor: pointer;
                }
              }

              &--buttoned {
                background-color: $darkblue;
                color: $white;
                border-radius: 0.9375rem;
                border: solid 3px $pink;
                font-family: dbold;
                font-size: 0.875rem;
                width: 6.5rem;
                height: 2.75rem;
                text-transform: capitalize;

                &:hover {
                  border: solid 3px $pink;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }

    &--third {
      height: 4.3125rem;
      width: 48.5rem;
      border-radius: 0.9375rem;
      background-color: $grey;
      margin: 0 0 1.25rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--text {
        margin: 0 0 0 2.0625rem;
        font-family: dbold;
        font-size: 1.5625rem;
        color: $white;
      }

      &--image {
        height: 0.875rem;
        width: 0.875rem;
        margin: 0 1.75rem 0 0;
        background-image: url(../../assets/icons/up.svg);
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
      }
    }
  }
}
