@use "../../styles/partials/index" as *;

.dashboards {
  margin: 1rem 0 2.4375rem 7.375rem;
  display: flex;
  flex-direction: row;

  &__texts {
    color: $white;
    font-family: dbold;
    font-size: 40px;
    @include nomargin-nopadding;
    margin-top: 1.875rem;
  }

  &__alerts {
    width: 547px;
    height: 43px;
    border-radius: 10px;
    background-color: rgba(212, 152, 185, 0.53);
    margin: 1.8125rem 133px 0 3.1875rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &--icons {
      margin: 0;
      width: 25px;
      height: 25px;
    }

    &--texts {
      margin: 0 0 0 23px;
      color: $white;
      font-family: dbold;
    }

    &--opens {
      margin: 0 0 0 76px;
      text-transform: uppercase;
      color: $white;
      background: none;
      border: none;
      font-family: dbold;

      &:hover {
        border-bottom: solid 1px $white;
        cursor: pointer;
      }
    }

    &--closes {
      position: relative;
      top: -30px;
      right: -32px;
      cursor: pointer;
    }
  }

  &__news {
    border-radius: 15px;
    background-color: $grey;
    border: none;
    width: 135px;
    height: 59px;
    font-size: 30px;
    font-family: dbold;
    color: $white;
    margin: 1rem 0 0 0;
  }
}

.profiles {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 7.375rem;

  &__headers {
    display: flex;
    flex-direction: column;
    width: 237px;
    margin: 0 0 0 0;

    &--tops {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &--images {
        width: 111px;
        height: 111px;
      }

      &--texts {
        font-family: dbold;
        @include nomargin-nopadding;
        text-transform: uppercase;
        color: $othergrey;
      }
    }

    &--managements {
      margin: 1.3125rem 0 0 0;

      &--texts {
        font-family: dbold;
        font-size: 26px;
        color: $white;
        @include nomargin-nopadding;
      }

      &--panels {
        height: 422px;
        border-radius: 15px;
        background-color: $grey;
        margin: 7px 0 67px 0;
        padding: 15px 0 0 0;

        &--links {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          height: 40px;
          margin: 4px 0 0 0;
          border-left: solid 3px $grey;
          text-decoration: none;

          &:hover {
            background-color: rgba(207, 46, 139, 0.5);
            cursor: pointer;
            border-left: solid 3px #f142a7;
          }

          &--images {
            margin: 0 8px 0 16px;
            width: 22px;
            height: 16px;
          }

          &--texts {
            color: $white;
            border: none;
            background: none;
            text-transform: uppercase;
            cursor: pointer;
          }
        }

        &--linkstext {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          height: 40px;
          margin: 4px 0 0 0;
          border-left: solid 3px #f142a7;
          background-color: rgba(207, 46, 139, 0.5);
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }

  &__advertising {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 68px;

    &--box {
      background-color: $grey;
      width: 863px;
      height: 69px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      margin: 0 0 25px 0;

      &--text {
        font-family: dbold;
        font-size: 25px;
        color: $white;
        @include nomargin-nopadding;
        margin: 0 15.3125rem 0 24px;
      }

      &--texted {
        font-family: dbold;
        font-size: 25px;
        color: $white;
        @include nomargin-nopadding;
        margin: 0 7.2rem 0 24px;
      }

      &--button {
        width: 93px;
        height: 32px;
        border-radius: 10px;
        background-color: #5a5b6d;
        border: none;
        font-size: 15px;
        font-family: dbold;
        color: $white;
        margin: 0 35px 0 0;
      }

      &--alert {
        width: 29px;
        height: 29px;
        position: relative;
        left: 30px;
        margin-right: -50px;
      }
    }

    &--boxed {
      background-color: $grey;
      width: 863px;
      height: 69px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      margin: 0 0 25px 0;
      border-left: solid 4px #cf2e8b;

      &--texting {
        font-family: dbold;
        font-size: 25px;
        color: $white;
        @include nomargin-nopadding;
        margin: 0 10.4rem 0 24px;
      }

      &--button {
        width: 93px;
        height: 32px;
        border-radius: 10px;
        background-color: #5a5b6d;
        border: none;
        font-size: 15px;
        font-family: dbold;
        color: $white;
        margin: 0 35px 0 0;
      }

      &--alert {
        width: 29px;
        height: 29px;
        position: relative;
        left: 30px;
        margin-right: -50px;
      }
    }
  }
}
